
      <h1 align=center>After much deliberation you were sadly unable to reach an agreement.</h1>
      <h1 align=center>Please try again!</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      
      <h3 align=center>Thank you for using the National League Trade Simulator.       Your results have been saved. Would you like to view the past trades            now?</h3>

      <form action="/results">
        <p align=center><input type="radio" name="choice" value="yes"                     checked>Yes
          <br>
          <input type="radio" name="choice" value="no">No</p>
        <p align=center><input type="submit"></form></p>
