<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="yielded"><%= yield %></div>
  </body>
  <br>
  <br>
  <br>
  <br>
    
      <p align=center> 
      <a  href="/">Return to Homepage</a></li>
      <p>
  
</html>